.mainhome {
    min-height: 90vh;
}

.homebox {
    display: flex;
    flex-direction: column;
}

.hometitle {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 3rem 0rem;
}

.mynotes {
    flex: 5;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.addnote {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem;
}

.note {
    padding: 1rem;
    margin: 0.5rem;
    height: max-content;
    width: 20rem;
    background-color: whitesmoke;
    box-shadow: 0 8px 6px -10px black;
    border-radius: 5px;
}

.note p {
    font-size: 0.8rem;
}

.addnotebtn {
    cursor: pointer;
}

.isdone {
    display: flex;
    justify-content: flex-end;
}

.nonotes {
    display: flex;
    justify-content: center;
    background-color: cadetblue;
}

@media screen and (max-width: 689px) {
    .note {
        width: 95%;
    }
}
