nav {
    display: flex;
    padding: 1rem;
    background-color: #3f50b5;
    font-size: 1.2rem;
}

.navlogo {
    flex: 1;
    margin: auto 0rem;
}

.navlogo h4 {
    color: white;
}

.navlinks {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    padding: auto 25rem;
}

.navlinks p {
    font-size: 0.9rem;
}